doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Med Korp kan den språkligt nyfikna göra avancerade sökningar i stora mängder av skriven text.')

    link(rel='shortcut icon', type='image/ico', href='img/korp_icon.ico')
    title Korp

  body(style="opacity: 0;")
    noscript
      h2 You need JavaScript to run Korp.
    #main
      include includes/header
      #content
        include includes/searchtabs

        #results-wrapper(ng-show='searches.activeSearch || compareTabs.length || graphTabs.length || mapTabs.length', ng-controller='resultContainerCtrl')
          #columns.flex(ng-class='{sidebar_visible : sidebar_visible}')
            #left-column.overflow-auto.flex-grow
              uib-tabset.tabbable.result_tabs(tab-hash='result_tab', active="activeTab")
                uib-tab(disabled="!instance.hasData",
                    select="instance.onentry()",
                    deselect="instance.onexit()",
                    kwic-ctrl,
                    index=0
                )
                  uib-tab-heading(ng-class="{not_loading: progress > 99, loading : loading}")
                    | KWIC
                    tab-preloader(ng-if="loading", value="progress", spinner="instance.countCorpora() < 2")
                  .results-kwic(ng-class="{reading_mode : reading_mode, loading: loading}", constr='KWICResults', constr-name='kwicResults')
                    include includes/kwicresult
                uib-tab(stats-result-ctrl,
                    ng-if="_settings.statistics != false"
                    select="instance.onentry()"
                    deselect="instance.onexit()"
                    index=2
                    )
                  uib-tab-heading(ng-class="{not_loading: progress > 99, loading : loading}")
                    | {{'statistics' | loc:lang}}
                    tab-preloader(ng-if="loading", value="progress", spinner="instance.countCorpora() < 2")
                  div(constr='StatsResults', constr-name='statsResults')

                    div(ng-if="!inOrder && !hasResult")
                      | {{'stats_not_in_order_warn' | loc:lang}}

                    div(ng-if="!showStatistics")
                      | {{'stats_warn' | loc:lang}}
                      div
                        button.btn.btn-sm.btn-default.activate_word_pic(ng-click="activate()")
                          | {{'word_pic_warn_btn' | loc:lang}}

                    div(ng-if="showStatistics && !hasResult && inOrder")
                      div
                        button.btn.btn-sm.btn-default.activate_word_pic(ng-click="activate()")
                          | {{'update_btn' | loc:lang}}
                        
                    warning(ng-if="showStatistics && no_hits")
                      | {{"no_stats_results" | loc:lang}}
                    warning(ng-if="showStatistics && aborted && !loading")
                      | {{'search_aborted' | loc:lang}}
                    div(ng-show="showStatistics && hasResult")
                      .stats_header
                        button#showGraph.btn.btn-sm.btn-default(ng-class="{disabled: !graphEnabled}", class="show-graph-btn"
                          uib-tooltip="{{'material_warn' | loc:lang}}", tooltip-placement="right" tooltip-enable="!graphEnabled"
                        )
                          span.graph_btn_icon
                            <svg height="24" version="1.1" width="33" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#666666" stroke="none" d="M3.625,25.062C3.086,24.947000000000003,2.74,24.416,2.855,23.875L2.855,23.875L6.51,6.584L8.777,15.843L10.7,10.655000000000001L14.280999999999999,14.396L18.163999999999998,1.293000000000001L21.098,13.027000000000001L23.058,11.518L28.329,23.258000000000003C28.555,23.762000000000004,28.329,24.353,27.824,24.579000000000004L27.824,24.579000000000004C27.319000000000003,24.806000000000004,26.728,24.579000000000004,26.502000000000002,24.075000000000003L26.502000000000002,24.075000000000003L22.272000000000002,14.647000000000002L19.898000000000003,16.473000000000003L18.002000000000002,8.877000000000002L15.219000000000003,18.270000000000003L11.465000000000003,14.346000000000004L8.386,22.66L6.654999999999999,15.577L4.811999999999999,24.288C4.710999999999999,24.76,4.297,25.082,3.8329999999999993,25.082L3.8329999999999993,25.082C3.765,25.083,3.695,25.076,3.625,25.062L3.625,25.062Z" transform="matrix(0.6,0,0,0.6,6.2499,5.275)" stroke-width="1.6666666666666667" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
                          | {{'show_diagram' | loc:lang}}
                        
                        div.map-settings-container(uib-dropdown, auto-close="outsideClick", ng-show="newMapEnabled")
                          button.btn.btn-sm.btn-default(uib-dropdown-toggle)
                            | {{'show_map' | loc:lang}}
                            span.caret()
                          div(uib-dropdown-menu)
                            h3.map-settings-title() Välj attribut
                            ul(ng-if="mapAttributes.length != 0")
                              li(ng-repeat="attr in mapAttributes", ng-class="attr.selected ? 'selected':''", ng-click="mapToggleSelected($index, $event)")
                                span(class="checked") ✔
                                span {{attr.label | loc:lang}}
                            span(ng-show="mapAttributes.length == 0", class="empty-attribute-list")
                              | {{ 'no_geo_info' | loc:lang}}
                            div.btn-container()
                                button.btn.btn-sm.btn-primary(ng-disabled="mapAttributes.length == 0", ng-click="showMap()") {{'show_map' | loc:lang}}
                          span(ng-if="noRowsError" class="ml-3 err_msg")
                            | {{'no_row_selected_map' | loc:lang}}

                        #showBarPlot
                      div(ng-if="!loading", style="margin-bottom: 5px;") {{'total_rows' | loc:lang}} {{totalNumberOfRows}}
                      #myGrid
                      #exportStatsSection
                        br
                        br
                        select#kindOfData
                          option(value='relative', rel='localize[statstable_relfigures]') Relativa tal
                          option(value='absolute', rel='localize[statstable_absfigures]') Absoluta tal
                        select#kindOfFormat
                          option(value='csv', rel='localize[statstable_exp_csv]') CSV (kommaseparerade värden)
                          option(value='tsv', rel='localize[statstable_exp_tsv]') TSV (tabseparerade värden)
                        a#generateExportButton
                          button.btn.btn-sm.btn-default {{'statstable_gen_export' | loc:lang}}
                        a#exportButton.btn.btn-sm.btn-default
                          | {{'statstable_export' | loc:lang}}
                uib-tab(ng-if="_settings.wordpicture != false",
                    wordpic-ctrl,
                    select="instance.onentry()",
                    deselect="instance.onexit()",
                    index=3)
                  uib-tab-heading(ng-class="{not_loading: progress > 99, loading : loading}")
                    | {{'word_picture' | loc:lang}}
                    tab-preloader(ng-if="loading", value="progress", spinner="instance.countCorpora() < 2")
                  div()
                    include includes/word_picture

                include includes/dynamic_result_tabs

              a#json-link(ng-href='{{jsonUrl}}', ng-show="jsonUrl", target="_blank")
                img(src='img/json.png')
            sidebar.sidebar.flex-shrink-0.ml-2(on-show="onSidebarShow()", on-hide="onSidebarHide()")

            div(id='video-modal', ng-controller='VideoCtrl')

    #deptree_popup

    script#login_modal(type="text/ng-template").
      <div class="modal-header login-modal-header">
        <span class="login-header">{{'log_in' | loc:lang}}</span>
        <span ng-click="clickX()" class="close-x">×</span>
      </div>
      <div id="login_popup" class="modal-body">
        <div ng-if="loginNeededFor.length" style="font-size: 0.75em">
          <span style="display: inline">{{'login_needed_for_corpora' | loc:lang}}</span>
          <span style="display: inline; margin-right: 2px;" ng-repeat="corpus in loginNeededFor">{{corpus.title}}</span>
        </div>
        <form ng-submit="loginSubmit(login_usr, login_pass, saveLogin)">
          <label for="usrname">{{'username' | loc:lang}}</label>
          <input id="usrname" ng-model="login_usr" type="text">
          <label for="pass">{{'password' | loc:lang}}</label>
          <input id="pass" ng-model="login_pass" type="password">
          <a class="password-reset" href="https://ws.spraakbanken.gu.se/user/password" target="_blank">{{'forgot_password' | loc:lang}}</a>
          <div style="clear:both"/>
          <input class="save-login" id="saveLogin" type="checkbox" ng-model="saveLogin">
          <label class="save-login" for="saveLogin">{{'save_login' | loc:lang}}</label>
          <p ng-show="login_err" class="err_msg">{{'login_fail_msg' | loc:lang}}</p>
          <input class="btn btn-sm btn-primary" type="submit" value="{{'send' | loc:lang}}">
          <div style="clear:both"/>
        </form>
      </div>
  
    script(src="bundle.js")
