uib-tab(example-ctrl, ng-repeat='kwicTab in kwicTabs', select="onentry()", deselect="onexit()")
  uib-tab-heading(ng-class="{not_loading: progress == 100, loading : loading}")
    | KWIC
    span(ng-click='closeTab($index, $event)', tab-spinner)
  korp-error(ng-if="error")
  .results-kwic(ng-if="!error", ng-class="{reading_mode : exampleReadingMode, not_loading: !loading, loading : loading}")
    kwic(
      aborted="aborted", 
      loading="loading",
      active="active",
      hits-display="hits_display",
      hits-picture-data="hitsPictureData",
      hits="hits",
      kwic="kwic",
      context-kwic="contextKwic",
      is-reading="is_reading",
      page="page",
      page-event="pageChange",
      context-change-event="toggleReading",
      hits-per-page="hitsPerPage",
      prev-params="proxy.prevParams",
      prev-request="proxy.prevRequest",
      corpus-order="corpusOrder"
    )
uib-tab(ng-repeat='data in graphTabs', graph-ctrl)
  uib-tab-heading(ng-class="{not_loading: progress > 99}")
    | {{'graph' | loc:lang}}
    .tab_progress(style="width:{{progress || 0}}%", ng-show="loading")
    span(ng-click='closeTab($index, $event)', tab-spinner)
  trend-diagram(data="data", on-progress="onProgress", update-loading="updateLoading")
uib-tab(ng-repeat='promise in compareTabs', compare-ctrl)
  uib-tab-heading.compare_tab(ng-class='{loading : loading}')
    | {{'compare_vb' | loc:lang}}
    span(tab-spinner, ng-click='closeTab($index, $event)')
  .compare_result(ng-class='{loading : loading}')
    .error_msg(ng-if="error")
      div.korp_fail.inline_block
        img.korp_fail(src='img/korp_fail.svg')
      .fail_text.inline_block(rel='localize[fail_text]') Ett fel har uppstått. 


    .column.column_1(ng-if="!error")
      h2
        | {{'compare_distinctive' | loc:lang}} 
        em {{cmp1.label}}
      ul.negative
        li(ng-repeat='row in tables.negative | orderBy:resultOrder:true', ng-click="rowClick(row, 0)")
          .meter(meter='row', max='max', stringify='stringify')
    .column.column_2
      h2
        | {{'compare_distinctive' | loc:lang}} 
        em {{cmp2.label}}
      ul.positive
        li(ng-repeat='row in tables.positive | orderBy:resultOrder:true', ng-click="rowClick(row, 1)")
          .meter(meter='row', max='max', stringify='stringify')

uib-tab(ng-repeat="promise in mapTabs", map-ctrl, select="onentry()")
  uib-tab-heading.map_tab(ng-class='{loading : loading}')
    | {{ 'map' | loc:lang}}
    span(tab-spinner, ng-click='closeTab($index, $event)')
  .map_result(ng-class='{loading : loading}')
    .error_msg(ng-if="error")
      div.korp_fail.inline_block
        img.korp_fail(src='img/korp_fail.svg')
      .fail_text.inline_block(rel='localize[fail_text]') Ett fel har uppstått. 
    include newmapresult

include textreader
