div(ng-if="!loading && numResults != 0")
  div#mapHeader.rickshaw_legend()
      div(ng-repeat="(label, group) in markerGroups", class="mapgroup", ng-class="group.selected ? '' : 'disabled'", ng-click="toggleMarkerGroup(label)")
        span(class="check") ✔
        div.swatch(style="background-color: {{group.color}}")
        span.label(ng-if="label != 'total'") {{label}}
        span.label(ng-if="label == 'total'") Σ
      div(style="float:right;padding-right: 5px;")
        label()
          input(style="vertical-align: top;margin-top: 0px;margin-right: 5px;", type="checkbox", ng-model="useClustering")
          | {{'map_cluster' | loc:lang}}

  sb-map(sb-center="center", 
         sb-markers="markerGroups", 
         sb-show-time="showTime",
         sb-base-layer="mapSettings.baseLayer", 
         sb-marker-callback="newKWICSearch",
         sb-selected-groups="selectedGroups",
         sb-rest-color="restColor",
         sb-use-clustering="useClustering")
